{#
/**
 * @file edit.html.twig
 * Formulario de edición
 * @parent ../edit.html.twig
 */
#}
{% form_theme form '@GptCavebackend/symfony/fields.html.twig' %}
{{ form_start(form, {'attr': { 'onsubmit': clickEvent } }) }}
{# errores del formulario #}

{% embed '@GptCavebackend/partial/page/panel.html.twig' with {type: arrayParams.get('page:style:form_panel_group') }%}
{% block heading %}{{ ('person.edit.form')|trans({},'cavepages')|raw -}}{% endblock heading %}
    {% block body %}

{% include '@GptCavebackend/content/person/form/partial/identity.html.twig' %}
{% include '@GptCavebackend/content/person/form/partial/address.html.twig' %}
{% include '@GptCavebackend/content/person/form/partial/numbers.html.twig' %}
{% include '@GptCavebackend/content/person/form/partial/organisations.html.twig'%}

<input type='submit' class='hidden'>
{{ form_end(form) }}

<div id="delete-form"  style="display: none">
{{ form_start(delete_form) }}
{{ form_end(delete_form) }}
</div>
    {% endblock body %}
{% endembed %}