{#
/**
 * New Organisation
 * @file new.html.twig
 * @param array arrayParams
 * @param FormView form
 */
#}
{% extends '@GptCavebackend/base.html.twig' %}
{% block page_javascripts %}
    {%include '@GptCavebackend/content/organisation/script/scripts.html.twig'%}
{%endblock page_javascripts%}
{% block content %}
    {%include '@GptCavebackend/content/organisation/navbar.html.twig'%}
    {% include '@GptCavebackend/partial/form/error/all_errors_message.html.twig'%}
    <div class="alert alert-primary" role="alert">
        {{ ('organisation.new.form.title')|trans({},'cavepages')|raw -}}
    </div>
    {% form_theme form '@GptCavebackend/symfony/fields.html.twig' %}
    {{ form_start(form) }}
    {% include '@GptCavebackend/content/organisation/form/partial/identity.html.twig' %}
    {% include '@GptCavebackend/content/organisation/form/partial/clasification.html.twig' %}
    {% include '@GptCavebackend/content/organisation/form/partial/contact.html.twig' %}
    {% include '@GptCavebackend/content/organisation/form/partial/defunct.html.twig'%}
    {% include '@GptCavebackend/partial/form/nav_new_submit_button.html.twig' %}
    {{ form_end(form) }}
{%endblock content%}

{% block footer_javascripts %}
    <script>
        let repo = new Repopulate( '#{{ form.country.vars.id }}'),
            editForm = document.getElementById('{{ form.vars.attr.id}}'),
            errors= document.getElementById('errors');

        repo.on('ev.onLoadResponse', (data, el, attr)=>{
            return JSON.parse(data.response).out;//data is in 'out' array
        });
        repo.bindAll();


        editForm.addEventListener('submit', event => {
            event.preventDefault();
            Grot(editForm).form('enviar','{{path('cave_backend_organisation_save', {id: organisation.getOrganisationid()})}}', {}, function (data) {
                errors.innerHTML= typeof data=== "string"? data : '';
            })
        });


        let repoaddress = new Repopulate( '#{{ form.countryaddress.vars.id }}');
        repoaddress.on('ev.onLoadResponse', (data, el, attr)=>{
            return JSON.parse(data.response).out;//data is in 'out' array
        });
        repoaddress.bindAll();

        function toggleDefunct(e) {
            if(!e.checked){
                document.getElementById('{{ form.defunctyear.vars.id }}').value='';
                $('#{{ form.currentidifdefunct.vars.id }}').val(null).trigger('change');
            }
        }
    </script>
    {% include '@GptCavebackend/content/organisation/script/scripts.html.twig' %}
{% endblock footer_javascripts %}