{#
/**
 * Form
 * @file index_search_form.html.twig
 * @parent ../index.html.twig
 */
#}
{% set country_attr= {attr: {'data-child': '#'~form.admin1.vars.id}} %}

{% set admin1_attr= {attr: {
    'data-child': '#'~form.admin2.vars.id,
    'data-url': path('cave_backend_json_admin1'),
    'data-parentid': 'countryid',
    'data-placeholder': 'select.government.level.admin1'|trans({},'cavemessages')|raw,
}}%}

{% set admin2_attr= {attr: {
    'data-child': '#'~form.admin3.vars.id,
    'data-url': path('cave_backend_json_admin2'),
    'data-parentid': 'admin1id',
    'data-placeholder': 'select.government.level.admin2'|trans({},'cavemessages')|raw
}}%}

{% set admin3_attr= {attr: {
    'data-url': path('cave_backend_json_admin3'),
    'data-parentid': 'admin2id',
    'data-placeholder': 'select.government.level.admin3'|trans({},'cavemessages')|raw,
}}%}

{% form_theme form '@GptCavebackend/symfony/fields.html.twig' %}
{{ form_start(form) }}

{% embed '@GptCavebackend/partial/card/card-search.html.twig'%}
    {% block heading %}{{ 'cave.index.search.form'|trans({},'cavepages')|raw -}}{% endblock heading %}
    {% block body %}
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <table class="table">
                    <tr>
                        <td>{{ form_label(form.name)}}</td>
                        <td>{{ form_label(form.country)}}</td>
                    </tr>
                    <tr>
                        <td>{{ form_widget(form.name)}}</td>
                        <td>{{ form_widget(form.country, country_attr)}}</td>
                    </tr>
                </table>
            </div>

            <div class="col-lg-4 col-sm-12">
                <table class="table">
                    <tr>
                        <td>{{ form_label(form.admin1)}}</td>
                        <td>{{ form_label(form.admin2)}}</td>
                    </tr>
                    <tr>
                        <td>{{ form_widget(form.admin1, admin1_attr)}}</td>
                        <td>{{ form_widget(form.admin2, admin2_attr)}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4 col-sm-12">
                <table class="table">

                    <tr>
                        <td>{{ form_label(form.admin3)}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{{ form_widget(form.admin3,admin3_attr)}}</td>
                        <td>{%include '@GptCavebackend/partial/form/buttons.html.twig'with {'btns' :{'search': {'type': 'submit'}, 'reset': {'type': 'reset' }},} only %}</td>
                    </tr>
                </table>
            </div>
        </div>

        {{ form_end(form) }}

    {% endblock body %}
{% endembed %}