{#
/**
 * @file coordinates.html.twig
 * @parent coarse.html.twig
 */
#}
<table class="table">
    <tr>
        <td>{{ form_label(form.latitudecoarse)}}</td>
        <td>{{ form_widget(form.latitudecoarse)}}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.longitudecoarse)}}</td>
        <td>{{ form_widget(form.longitudecoarse)}}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.altitudecoarse)}}</td>
        <td>{{ form_widget(form.altitudecoarse)}}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.orientation)}}</td>
        <td>{{ form_widget(form.orientation)}}</td>
    </tr>
</table>
