{#
/**
 * @file landunit.html.twig
 * @parent coarse.html.twig
 */
#}
<table class="table">
    <tr>
        <td>{{ form_label(form.landunit5)}}</td>
        <td>{{ form_widget(form.landunit5)}}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.landunit4)}}</td>
        <td>{{ form_widget(form.landunit4)}}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.landunit3)}}</td>
        <td>{{ form_widget(form.landunit3)}}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.landunit2)}}</td>
        <td>{{ form_widget(form.landunit2)}}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.landunit1)}}</td>
        <td>{{ form_widget(form.landunit1)}}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.landunit0)}}</td>
        <td>{{ form_widget(form.landunit0)}}</td>
    </tr>
</table>