{#
/**
 * @file map.html.twig
 * @parent coarse.html.twig
 */
#}
<table class="table">
    <tr>
        <td>{{ form_label(form.sheet100)}}</td>
        <td>{{ form_widget(form.sheet100)}}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.sheet25)}}</td>
        <td>{{ form_widget(form.sheet25)}}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.mapsheetnamecoarse)}}</td>
        <td>{{ form_widget(form.mapsheetnamecoarse)}}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.gridreferencecoarse)}}</td>
        <td>{{ form_widget(form.gridreferencecoarse)}}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.grrefqualifiercoarse)}}</td>
        <td>{{ form_widget(form.grrefqualifiercoarse)}}</td>
    </tr>
</table>