{#
/**
 * @file tbody.html.twig
 * @parent ./index.html.twig
#}
{% for entity in entities%}
{%-set data = {
            'id': entity.getMapnumber(),
            'sequence': entity.getSequence(),
            'name': name,
            'title': ('map.'~name~'.tab')|trans({},'cavepages')|raw,
            'entity_token': entity_token,
            'dialog': {'width': '\'50%\''}
}-%}
<tr id="tr_{{name}}_{{entity.getMapnumber()}}_{{entity.getSequence()}}">
    <td align="center">{{ entity.getPosition()}}</td>
    <td>{% if  entity.getCave() is not null %}
        <a href="{{path('cave_backend_cave_edit', { 'id': entity.getCave.getCaveid() })}}">{{ entity.getCave().getName()}}</a>
        {% endif %}</td>
    <td class="text-center">
    {%include '@GptCavebackend/content/map/tabs/button/buttons_group_onetomany_tbody.html.twig' with { 'data': data} only %}{#replace#}
    </td>
</tr>
{% endfor %}
