{#
/**
 * @file delete_button_onetomany_tbody.html.twig
 * Botón eliminar para listados de entidades oneToMany.
 * @parent ./buttons_group_onetomany_tbody.html.twig
 */
#}
<button type="button" class="btn btn-default btn-xs" onclick="$(this).toggleClass( 'selected btn-danger');" title="{{'ondblclick.erase'|trans({},'cavemessages')|capitalize|raw}}" ondblclick="
        $(this).closest('tr').hide();
        $.post(
            '{{path('cave_backend_map_deleteonetomany', { "id": data.id, 'sequence': data.sequence, 'name': data.name})}}',
            {_token: '{{data.entity_token}}'},
            function(data){
                var tr = $('#tr_{{data.name}}_{{data.id}}_{{data.sequence}}');
                if(typeof data.error !== 'undefined'){
                    tr.show();
                    var container = document.getElementById('form-notification'),
                        template = document.getElementById('mst-form-error').innerHTML,
                        rendered = Mustache.to_html(template, data);
                        container.innerHTML= rendered;
                        container.style.display='block';
                        
                }else{
                    tr.remove();
                }
            }
          );            
                " >
<span  class="fa fa-trash-o"  style="cursor:pointer;" aria-hidden="true" ></span>
</button>