{#
/**
 * @file index_search_form.html.twig
 * Formulario de búsqueda
 *
 * @parent ../index.html.twig
  */
#}
{% form_theme form '@GptCavebackend/symfony/fields.html.twig' %}
{# onsubmit #}
{%set submit%}Grot('#{{attr.pager.id}}').loader('form', '#{{form.vars.attr.id}}',
    {},
    {
        before: function(){
            $('#form-notification').html('').hide();
        },
        error: function(data){
            (new Grot.mustache('form-notification', 'mst-form-error' )).show(data);
        }
    }
    ); return false;{%endset%}

{{ form_start(form, {'attr': {'onsubmit': submit , 'autocomplete': 'off'} } ) }}

{% include '@GptCavebackend/content/map/index/name.html.twig'%}

<!-- otras ocpiones -->
<div class="panel {{ arrayParams.get('page:style:searchPanel') }} card-minimo">
    <div class="panel-heading">
       <h4 class="panel-title"> <a data-toggle="collapse" href="#collapsemore">{{ 'search.more.options'|trans({},'cavemessages')|raw -}}</a></h4>
    </div>
<div id="collapsemore" class="panel-body panel-collapse collapse">
{# country, admin1, admin2, admin3 ... #}
{% include '@GptCavebackend/content/map/index/scope_politic.html.twig'%}
{% include '@GptCavebackend/content/map/index/source.html.twig'%}
{{ form_widget(form._token) }}
</div>
</div>
<div id="{{form.vars.attr.id}}_msg" class="text-center"></div>
{{ form_end(form) }}
