{#
/**
 * @file form.html.twig Cavereference form
 */
#}
<div class="row">
    <div class="col-lg-4 col-sm-12">
        <table class="table">
            <tr>
                <td>{{ form_label(form.article)}}</td>
            </tr>
            <tr>
                <td>{{ form_widget(form.article)}}</td>
            </tr>
        </table>
    </div>
    <div class="col-lg-3 col-sm-12">
        <table class="table">
            <tr>
                <td>{{ form_label(form.subjects)}}</td>
            </tr>
            <tr>
                <td>{{ form_widget(form.subjects)}}</td>
            </tr>
        </table>
    </div>
    <div class="col-lg-3 col-sm-12">
        <table class="table">
            <tr>
                <td>{{ form_label(form.range)}}</td>
            </tr>
            <tr>
                <td>{{ form_widget(form.range)}}</td>
            </tr>
        </table>
    </div>
    <div class="col-lg-2 col-sm-12">
        <table class="table">
            <tr>
                <td>{{ form_label(form.position)}}</td>
            </tr>
            <tr>
                <td>{{ form_widget(form.position, {attr: {class: 'w-50'}})}}</td>
            </tr>
        </table>
    </div>
</div>

<script>
    $(document).ready(function() {
        $.fn.modal.Constructor.prototype._enforceFocus = function() {};
        Grot('#{{form.article.vars.id}}').select2paginado('{{path('cave_backend_autocomplete_article')}}', {placeholder: '{{('select.article')|trans({},'cavemessages')|raw}}'});
    });
</script>