{#
/**
 * Edit specie
 * @file edit.html.twig
 * @param array arrayParams
 * @param FormView form
 * @param FormView delete_form
 * @param Specie specie
 */
#}
{% extends '@GptCavebackend/base.html.twig' %}
{% block content %}
    {%include '@GptCavebackend/content/specie/navbar.html.twig'%}
    <div id="errors"></div>
    <div class="alert alert-primary" role="alert">
        {{ ('specie.edit.form.title')|trans({},'cavepages')|raw -}}
    </div>

    {% form_theme form '@GptCavebackend/symfony/fields.html.twig' %}
    {{ form_start(form) }}

    {% embed '@GptCavebackend/partial/card/card-edit.html.twig'%}
        {% block body %}
            {% include '@GptCavebackend/content/specie/form/edit_form.html.twig' %}
            {% include '@GptCavebackend/partial/form/nav_edit_submit_button.html.twig' %}
        {% endblock body %}
    {% endembed %}

    {{ form_end(form) }}
{% endblock %}

{% block footer_javascripts %}
    <script type="text/javascript">
        let editForm = document.getElementById('{{ form.vars.attr.id}}'),
            errors= document.getElementById('errors');

        editForm.addEventListener('submit', event => {
            event.preventDefault();
            Grot(editForm).form('enviar','{{path('cave_backend_person_save', {id: specie.getSpecieid()})}}', {}, function (data) {
                errors.innerHTML= typeof data=== "string"? data : '';
            })
        });
        shortcut.add('Shift+ctrl+s', function(){ editForm.querySelector('button[type=submit]').click(); });
    </script>
{%endblock%}