{#
/**
 * Form
 * @file edit_form.html.twig
 */
#}
{% set country_attr= {attr: {'data-child': '#'~form.admin1.vars.id}} %}
{% set admin1_attr= {attr: {
    'style':'min-width:150px',
    'data-url': path('cave_backend_json_admin1'),
    'data-parentid': 'countryid',
    'data-placeholder': 'select.government.level.admin1'|trans({},'cavemessages')|raw,
}}%}
<div class="row">
    <div class="col-lg-4 col-sm-12">
        <table class="table">
            <tr>
                <td>{{ form_label(form.name)}}</td>
                <td>{{ form_label(form.code) }}</td>
            </tr>
            <tr>
                <td>{{ form_widget(form.name)}}</td>
                <td>{{ form_widget(form.code) }}</td>
            </tr>
        </table>

    </div>
    <div class="col-lg-4 col-sm-12">
        <table class="table">
            <tr>
                <td>{{ form_label(form.country)}}</td>
                <td>{{ form_label(form.admin1) }}</td>
            </tr>
            <tr>
                <td>{{ form_widget(form.country, country_attr)}}</td>
                <td>{{ form_widget(form.admin1, admin1_attr) }}</td>
            </tr>
        </table>
    </div>


    <div class="col-lg-4 col-sm-12">
        <table class="table">
            <tr>
                <td>{{ form_label(form.mapsheet) }}</td>
                <td>{{ form_label(form.latlng)}}</td>
                <td></td>

            </tr>
            <tr>
                <td>{{ form_widget(form.mapsheet) }}</td>
                <td>{{ form_widget(form.latlng)}}</td>
            </tr>
        </table>
    </div>
</div>
<table class="table">
    <tr>
        <td>{{ form_label(form.comment)}}</td>
    </tr>
    <tr>
        <td>{{ form_widget(form.comment) }}</td>
    </tr>
</table>