{#
/**
 * @file tbody.html.twig
 * @parent ../index_ajax.html.twig
#}
{% for entity in entities%}
<tr class="text-center-row">
    <td><a href="{{path('cave_backend_specie_edit', { 'id': entity.getSpecieid() })}}">{{ entity.getSpecieid() }}</a></td>
    <td>{{ entity.getName() }}</td>
    <td>{{ entity.getCommonname()}}</td>
    <td>{{ entity.getGenus()}}</td>
    <td>{{ entity.getFamily()}}</td>
    <td>{{ entity.getOrden()}}</td>
    <td>{{ entity.getClass()}}</td>
    <td>{{ entity.getPhylum()}}</td>
</tr>
{% endfor %}