{#
/**
 * @file specie.html.twig
 * Formulario parcial
 * @parent ../form.html.twig
 */
#}{#
/**
 * @file form.html.twig Cavehazard form
 */
#}
<table class="table">
  <tr>
    <td>{{ form_label(form.specieconfidence)}}</td>
    <td>{{ form_label(form.genusconfidence)}}</td>
    <td>{{ form_label(form.position)}}</td>
  </tr>
  <tr>
    <td>{{ form_widget(form.specieconfidence)}}</td>
    <td>{{ form_widget(form.genusconfidence)}}</td>
    <td>{{ form_widget(form.position, {attr: {class: 'w-50'}})}}</td>
  </tr>
</table>