{#
/**
 * @file humidity.html.twig
 * Formulario parcial
 * @parent ./environment.html.twig
 */
#}
<table class="table">
  <tr>
    <td>{{ form_label(form.minimumhumidity)}}</td>
    <td>{{ form_widget(form.minimumhumidity)}}</td>
  </tr>
  <tr>
    <td>{{ form_label(form.maximumhumidity)}}</td>
    <td>{{ form_widget(form.maximumhumidity)}}</td>
  </tr>
  <tr>
    <td>{{ form_label(form.moisturelevel)}}</td>
    <td>{{ form_widget(form.moisturelevel)}}</td>
  </tr>
</table>