{#
/**
 * @file waterflow.html.twig
 * Formulario parcial
 * @parent ./environment.html.twig
 */
#}
<table class="table">
  <tr>
    <td>{{ form_label(form.internalflow)}}</td>
    <td>{{ form_widget(form.internalflow)}}</td>
  </tr>
  <tr>
    <td>{{ form_label(form.flowpresence)}}</td>
    <td>{{ form_widget(form.flowpresence)}}</td>
  </tr>
  <tr>
    <td>{{ form_label(form.flowdirection)}}</td>
    <td>{{ form_widget(form.flowdirection)}}</td>
  </tr>
</table>