 <li>{{ 'organisation.menu.home'|trans({},'cavepages')|raw }}</li>
<li><a href="{{ path('cave_backend_organisation_index') }}">{{ 'organisation.menu.index'|trans({},'cavepages')|raw }}</a></li>
<li><a href="{{ path('cave_backend_organisation_new') }}">{{ 'organisation.menu.new'|trans({},'cavepages')|raw }}</a></li>

<li class="divider"></li>

<li>{{ 'person.menu.home'|trans({},'cavepages')|raw }}</li>
<li><a href="{{ path('cave_backend_person_index') }}">{{ 'person.menu.index'|trans({},'cavepages')|raw }}</a></li>
<li><a href="{{ path('cave_backend_person_new') }}">{{ 'person.menu.new'|trans({},'cavepages')|raw }}</a></li>

<li class="divider"></li>

<li>{{ 'cave.menu.home'|trans({},'cavepages')|raw }}</li>
<li><a href="{{ path('cave_backend_cave_index') }}">{{ 'cave.menu.index'|trans({},'cavepages')|raw }}</a></li>
<li><a href="{{ path('cave_backend_cave_new') }}">{{ 'cave.menu.new'|trans({},'cavepages')|raw }}</a></li>

<li class="divider"></li>

<li>{{ 'article.menu.home'|trans({},'cavepages')|raw }}</li>
<li><a href="{{ path('cave_backend_article_index') }}">{{ 'article.menu.index'|trans({},'cavepages')|raw }}</a></li>
<li><a href="{{ path('cave_backend_article_new') }}">{{ 'article.menu.new'|trans({},'cavepages')|raw }}</a></li>