<li>{{ 'mapserie.menu.home'|trans({},'cavepages')|raw }}</li>
<li><a href="{{ path('cave_backend_mapserie_index') }}">{{ 'mapserie.menu.index'|trans({},'cavepages')|raw }}</a></li>
<li><a href="{{ path('cave_backend_mapserie_new') }}">{{ 'mapserie.menu.new'|trans({},'cavepages')|raw }}</a></li>
<li class="divider"></li>
<li>{{ 'map.menu.home'|trans({},'cavepages')|raw }}</li>
<li><a href="{{ path('cave_backend_map_index') }}">{{ 'map.menu.index'|trans({},'cavepages')|raw }}</a></li>
<li><a href="{{ path('cave_backend_map_new') }}">{{ 'map.menu.new'|trans({},'cavepages')|raw }}</a></li>
<li class="divider"></li>
<li>{{ 'specie.menu.home'|trans({},'cavepages')|raw }}</li>
<li><a href="{{ path('cave_backend_specie_index') }}">{{ 'specie.menu.index'|trans({},'cavepages')|raw }}</a></li>
<li><a href="{{ path('cave_backend_specie_new') }}">{{ 'specie.menu.new'|trans({},'cavepages')|raw }}</a></li>
<li>{{ 'area.menu.home'|trans({},'cavepages')|raw }}</li>
<li><a href="{{ path('cave_backend_area_index') }}">{{ 'area.menu.index'|trans({},'cavepages')|raw }}</a></li>
<li><a href="{{ path('cave_backend_area_new') }}">{{ 'area.menu.new'|trans({},'cavepages')|raw }}</a></li>