{#
/**
 * @file organisation.html.twig
 * Formulario parcial
 * @parent ../form.html.twig
 */
#}
{% set organisationIsNotNull = form.organisation.vars.value!='' %}
<div class="row">
    <div class="col-sm-12 col-lg-6">
        <table class="table">
            <tr>
                <td>
                    {{ form_label(form.organisation)}}
                    <input type="radio" name="form_discovery_organisation_check"  {{ organisationIsNotNull? 'checked' : ''}}  onchange="Grot('.form-discovery-organisation').form('clear').form('disable')">
                </td>
            </tr>
            <tr class="form-discovery-organisation">
                <td>{{ form_widget(form.organisation)}}</td>
            </tr>
        </table>
    </div>

    <div class="col-sm-12 col-lg-6">
        <table class="table">
            <tr>
                <td>
                    {{ form_label(form.organisationinitials)}}
                    <input type="radio" name="form_discovery_organisation_check" {{ organisationIsNotNull? '' : 'checked'}}
                           onchange="Grot('.form-discovery-organisation').form('clear').form('disable')">
                </td>
            </tr>
            <tr class="form-discovery-organisation">
                <td>{{ form_widget(form.organisationinitials)}}</td>
            </tr>
        </table>
    </div>
</div>


<script>
    $(document).ready(function() {
        $.fn.modal.Constructor.prototype._enforceFocus = function() {};
        Grot('#{{form.organisation.vars.id}}').select2paginado('{{path('cave_backend_autocomplete_organisation')}}', {placeholder: '{{('select.organisation')|trans({},'cavemessages')|raw}}'});
        {% if  organisationIsNotNull %}
        Grot('#{{ form.organisationinitials.vars.id }}').form('clear').form('disable');
        {% else %}
        Grot('#{{ form.organisation.vars.id }}').form('clear').form('disable');
        {% endif %}
    });
</script>
