{#
/**
 * @file grid.html.twig
 * Formulario parcial
 * @parent ../form.html.twig
 */
#}
<hr/>

  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <table class="table">
        <tr>
          <td>{{ form_label(form.mapeasting)}}</td>
          <td>{{ form_label(form.mapnorthing)}}</td>
        </tr>
        <tr>
          <td>{{ form_widget(form.mapeasting)}}</td>
          <td>{{ form_widget(form.mapnorthing)}}</td>
        </tr>
      </table>
    </div>

    <div class="col-lg-6 col-sm-12">
      <table class="table">
        <tr>
          <td>{{ form_label(form.refunits)}}</td>
          <td>{{ form_label(form.date)}}</td>
        </tr>
        <tr>
          <td>{{ form_widget(form.refunits)}}</td>
          <td>{{ form_widget(form.date)}}</td>
        </tr>
      </table>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <table class="table">
        <tr>
          <td class="w-25">{{ form_label(form.mapedition)}}</td>
          <td>{{ form_label(form.comment)}}</td>
        </tr>
        <tr>
          <td>{{ form_widget(form.mapedition)}}</td>
          <td>{{ form_widget(form.comment)}}</td>
        </tr>
      </table>
    </div>

    <div class="col-lg-6 col-sm-12">
      <table class="table">
        <tr>
          <td>{{ form_label(form.grefprecision)}}</td>
          <td>{{ form_label(form.grefaccuracy)}}</td>
        </tr>
        <tr>
          <td>{{ form_widget(form.grefprecision)}}</td>
          <td>{{ form_widget(form.grefaccuracy)}}</td>
        </tr>
      </table>
    </div>
  </div>

