{#
/**
 * @file map.html.twig
 * Formulario parcial
 * @parent ../form.html.twig
 */
#}
{% set mapIdIsNull = form.map.vars.value=='' %}
<div class="row">
    <div class="col-lg-6 col-sm-12">
        <table class="table">
            <tr>
                <td class="w-25">{{ form_label(form.map)}}<input type="radio" name="form_{{ name }}_map_check"  {{ mapIdIsNull?: 'checked'}} onchange="Grot('.widestmapId, .widestmapString').form('clear').form('disable');"></td>
            </tr>
            <tr>
                <td class="widestmapId">{{ form_widget(form.map)}}</td>
            </tr>
        </table>
    </div>

    <div class="col-lg-6 col-sm-12">
        <table class="table">
            <tr>
                <td>{{ form_label(form.mapname)}} <input type="radio" name="form_{{ name }}_map_check" {{ mapIdIsNull==false?: 'checked'}}  onchange="Grot('.widestmapId, .widestmapString').form('clear').form('disable');"></td>
                <td class="widestmapString">{{ form_widget(form.mapname)}}</td>
            </tr>
        </table>

        <div class="widestmapString">
                <table class="table">
                    <tr>
                        <td>{{ form_label(form.geodeticdatum)}}</td>
                        <td>{{ form_label(form.mapnumber)}}</td>
                    </tr>
                    <tr>
                        <td>{{ form_widget(form.geodeticdatum)}}</td>
                        <td>{{ form_widget(form.mapnumber)}}</td>
                    </tr>
                    <tr>
                        <td>{{ form_label(form.mapscale)}}</td>
                        <td>{{ form_label(form.mapgrid)}}</td>
                    </tr>
                    <tr>
                        <td>{{ form_widget(form.mapscale)}}</td>
                        <td>{{ form_widget(form.mapgrid)}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $.fn.modal.Constructor.prototype._enforceFocus = function() {};
        Grot('#{{form.map.vars.id}}').select2paginado('{{path('cave_backend_autocomplete_map')}}', {placeholder: '{{('select.map')|trans({},'cavemessages')|raw}}'});
        {% if  mapIdIsNull==false %}
        Grot('.widestmapString').form('clear').form('disable');
        {% else %}
        Grot('.widestmapId').form('clear').form('disable');
        {% endif %}
    });
</script>