{#
/**
 * @file form.html.twig Mapcitation form
 * @parent  ../onetomany.html.twig
 */
#}
{% embed '@GptCavebackend/partial/page/panel.html.twig' with {type: arrayParams.get('page:style:form_panel_group')}%}
  {% block heading %}{{ ('map.form.'~name~'.tab')|trans({},'cavepages')|raw -}}{% endblock heading %}
{% block body %}
<table class="table table-bordered">
  <tr>
    <td>{{ form_label(form.citationarticleid)}}</td>
    <td>{{ form_label(form.citationpagenumber)}}</td>  
    <td>{{ form_label(form.citationcomment)}}</td>
    <td></td>  
  </tr>
  <tr>
    <td>{{ form_widget(form.citationarticleid, {value: ''})}}</td>
    <td>{{ form_widget(form.citationpagenumber, {value: ''})}}</td>
    <td>{{ form_widget(form.citationcomment, {value: ''})}}</td>
    <td class="col-lg-4 text-center">
    {%include '@GptCavebackend/content/map/tabs/button/buttons_group_onetomany_form.html.twig'%}
    </td>
  </tr>  
</table>
{% endblock body %}
{% endembed %}