{#
/**
 * @file idmanForm.html.twig
 * Formulario man
 *
 * @parent ../new.html.twig
 */
#}
{% form_theme form '@GptCavebackend/symfony/fields.html.twig' %}
{{ form_start(form) }}
<table class="table table-condensed table-borderless form-table">
    <tr>
    <td class="col-lg-3">{{ form_label(form.commonname)}}</td>
    <td class="col-lg-3">{{ form_label(form.name)}}</td>
    <td class="col-lg-2">{{ 'organisation'| trans({},'cavemessages')|capitalize|raw -}}</td>
    <td class="col-lg-2">{{ 'serial'| trans({},'cavemessages')|capitalize|raw -}}</td>
    <td class="col-lg-2"></td>
    </tr>
   <tr>
    <td>{{ form_widget(form.commonname) }}</td>
    <td>{{ form_widget(form.name) }}</td>  
    <td>{{ form_widget(form.organisation) }}</td>
    <td>{{ form_widget(form.serial)}}</td>
    <td>{%include '@GptCavebackend/partial/form/buttons.html.twig'  with {'btns' : {'save':{'type':'submit'}}} only %}</td>
   </tr>
 </table>
{{ form_end(form) }}
<blockquote>
<p class="small">
{% set translation = 'new.form.'~name~'generator.text' %}
{{ translation | trans({},'cavepages')|raw -}}
</p>
</blockquote>
{% if active %}
<script type="text/javascript">
$(document).ready(function(){
 $("#{{ form.name.vars.id }}").focus();
});
</script>
{% endif %}