{#
/**
 * Search form
 * @file index_search_form.html.twig
 * @parent ../index.html.twig
 */
#}
{% form_theme form '@GptCavebackend/symfony/fields.html.twig' %}
{{ form_start(form) }}

{% embed '@GptCavebackend/partial/card/card-search.html.twig'%}
    {% block heading %}{{ 'specie.index.search.form'|trans({},'cavepages')|raw -}}{% endblock heading %}
    {% block body %}
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <table class="table">
                    <tr>
                        <td>{{ form_label(form.name)}}</td>
                        <td>{{ form_label(form.commonname) }}</td>
                    </tr>
                    <tr>
                        <td>{{ form_widget(form.name) }}</td>
                        <td>{{ form_widget(form.commonname) }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-12 col-lg-6">
                <table class="table">
                    <tr>
                        <td>{{ form_label(form.genus)}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{{ form_widget(form.genus)}}</td>
                        <td>
                            {%include '@GptCavebackend/partial/form/buttons.html.twig'with {'btns' :{'search': {'type': 'submit'}, 'reset': {'type': 'reset' }},} only %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <table class="table">
                    <tr>
                        <td>{{ form_label(form.family)}}</td>
                        <td>{{ form_label(form.orden)}}</td>
                    </tr>
                    <tr>
                        <td>{{ form_widget(form.family)}}</td>
                        <td>{{ form_widget(form.orden)}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-12 col-lg-6">
                <table class="table">
                    <tr>
                        <td>{{ form_label(form.class)}}</td>
                        <td>{{ form_label(form.phylum)}}</td>
                    </tr>
                    <tr>
                        <td>{{ form_widget(form.class)}}</td>
                        <td>{{ form_widget(form.phylum)}}</td>
                    </tr>
                </table>
            </div>
        </div>
    {% endblock body %}
{% endembed %}
{{ form_widget(form._token) }}
{{ form_end(form) }}