{#
/**
 * @file form.html.twig Caveequipment form
 */
#}
<div class="row">
  <div class="col-sm-12 col-lg-6">
    <table class="table">
      <tr><td>{{ form_label(form.equipment)}}</td></tr>
      <tr><td>{{ form_widget(form.equipment)}}</td></tr>
    </table>
  </div>

  <div class="col-sm-12 col-lg-3">
    <table class="table">
      <tr><td>{{ form_label(form.priority)}}</td></tr>
      <tr><td>{{ form_widget(form.priority)}}</td></tr>
    </table>
  </div>

  <div class="col-sm-12 col-lg-3">
    <table class="table">
      <tr><td>{{ form_label(form.position)}}</td></tr>
      <tr><td>{{ form_widget(form.position, {attr: {class: 'w-50'}})}}</td></tr>
    </table>
  </div>
</div>
