{#
/**
 * Search form
 * @file index_search_form.html.twig
 * @parent ../index.html.twig
 */
#}
{% set country_attr= {attr: {'data-child': '#'~form.admin1.vars.id}} %}
{% set admin1_attr= {attr: {
    'data-child': '#'~form.admin2.vars.id,
    'data-url': path('cave_backend_json_admin1'),
    'data-parentid': 'countryid',
    'data-placeholder': 'select.government.level.admin1'|trans({},'cavemessages')|raw,
}}%}

{% set admin2_attr= {attr: {
    'data-child': '#'~form.admin3.vars.id,
    'data-url': path('cave_backend_json_admin2'),
    'data-parentid': 'admin1id',
    'data-placeholder': 'select.government.level.admin2'|trans({},'cavemessages')|raw
}}%}

{% set admin3_attr= {attr: {
    'data-url': path('cave_backend_json_admin3'),
    'data-parentid': 'admin2id',
    'data-placeholder': 'select.government.level.admin3'|trans({},'cavemessages')|raw,
}}%}
{% form_theme form '@GptCavebackend/symfony/fields.html.twig' %}
{{ form_start(form) }}
{% embed '@GptCavebackend/partial/card/card-search.html.twig'%}
    {% block heading %}{{ 'search.form'|trans({},'cavemessages')|raw -}}{% endblock heading %}
    {% block body %}
        <!-- buscador básico -->
        <table class="table">
            <tr>
                <td>{{ form_label(form.name)}}</td>
                <td>{{ form_label(form.code)}}</td>
                <td>{{ form_label(form.initials)}}</td>
                <td></td>
            </tr>
            <tr>
                <td>{{ form_widget(form.name) }}</td>
                <td>{{ form_widget(form.code) }}</td>
                <td>{{ form_widget(form.initials) }}</td>

                <td>
                    {%include '@GptCavebackend/partial/form/buttons.html.twig'with {'btns' :{'search': {'type': 'submit'}, 'reset': {'type': 'reset' }},} only %}
                </td>
            </tr>
        </table>

        <table class="table">
            <tr>
                <td>{{ form_label(form.country)}}</td>
                <td>{{ form_label(form.admin1)}}</td>
                <td>{{ form_label(form.admin2)}}</td>
                <td >{{ form_label(form.admin3)}}</td>
            </tr>
            <tr>
                <td>{{ form_widget(form.country, country_attr) }}</td>
                <td>{{ form_widget(form.admin1, admin1_attr) }}</td>
                <td>{{ form_widget(form.admin2, admin2_attr) }}</td>
                <td>{{ form_widget(form.admin3, admin3_attr) }}</td>
            </tr>
        </table>
        <table class="table">
            <tr>
                <td>{{ form_label(form.coverage)}}</td>
                <td>{{ form_label(form.type)}}</td>
                <td>{{ form_label(form.grouping)}}</td>
            </tr>
            <tr>
                <td>{{ form_widget(form.coverage) }}</td>
                <td>{{ form_widget(form.type) }}</td>
                <td >{{ form_widget(form.grouping) }}</td>
            </tr>
        </table>
    {% endblock body %}
{% endembed %}
{{ form_widget(form._token) }}
{{ form_end(form) }}