{#
/**
 * @file edit.html.twig
 * Formulario de edición
 *
 * @parent ../edit.html.twig
 */
#}
<div class="row">
    <div class="col-lg-6 col-sm-12">
        <table class="table">
            <tr>
                <td class="w-20">{{ form_label(form.code)}}</td>
                <td>{{ form_label(form.name)}}</td>
                <td class="w-25">{{ form_label(form.abbreviation)}}</td>
            </tr>
            <tr>
                <td>{{ form_widget(form.code) }}</td>
                <td>{{ form_widget(form.name) }}</td>
                <td>{{ form_widget(form.abbreviation)}}</td>
            </tr>
        </table>
    </div>
    <div class="col-lg-6 col-sm-12">
        <table class="table">
            <tr>
                <td>{{ form_label(form.entity)}}</td>
                <td>{{ form_label(form.datatype)}}</td>
            </tr>
            <tr>
                <td>{{ form_widget(form.entity) }}</td>
                <td>{{ form_widget(form.datatype) }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-sm-12">
        <table class="table">
            <tr>
                <td>{{ form_label(form.coding)}}</td>
                <td>{{ form_label(form.singlemultivalued)}}</td>
            </tr>
            <tr>
                <td>{{ form_widget(form.coding) }}</td>
                <td>{{ form_widget(form.singlemultivalued) }}</td>
            </tr>
        </table>
    </div>
    <div class="col-lg-6 col-sm-12">
        <table class="table">
            <tr>
                <td>{{ form_label(form.valuecode)}}</td>
                <td>{{ form_label(form.maxlength)}}</td>
            </tr>
            <tr>
                <td>{{ form_widget(form.valuecode) }}</td>
                <td>{{ form_widget(form.maxlength) }}</td>
            </tr>
        </table>
    </div>
</div>

{%- set attr = { 'attr': {'style': 'height: 150px'} } -%}

<div class="row">
    <div class="col-lg-3 col-sm-12 pr-0">
        <table class="table">
            <tr>
                <td>{{ form_label(form.definition)}}</td>
            </tr>
            <tr>
                <td>{{ form_widget(form.definition, attr)}}</td>
            </tr>
        </table>
    </div>

    <div class="col-lg-3 col-sm-12 p-0">
        <table class="table">
            <tr>
                <td>{{ form_label(form.example)}}</td>
            </tr>
            <tr>
                <td>{{ form_widget(form.example, attr)}}</td>
            </tr>
        </table>
    </div>

    <div class="col-lg-3 col-sm-12 p-0">
        <table class="table">
            <tr>
                <td>{{ form_label(form.comment)}}</td>
            </tr>
            <tr>
                <td>{{ form_widget(form.comment, attr)}}</td>
            </tr>
        </table>
    </div>

    <div class="col-lg-3 col-sm-12 pl-0">
        <table class="table">
            <tr>
                <td>{{ form_label(form.uso)}}</td>
            </tr>
            <tr>
                <td>{{ form_widget(form.uso, attr)}}</td>
            </tr>
        </table>
    </div>
</div>