{#
/**
 * Form
 * @file index_search_form.html.twig
 * @parent ../index.html.twig
 */
#}
{% form_theme form '@GptCavebackend/symfony/fields.html.twig' %}
{{ form_start(form) }}

{% embed '@GptCavebackend/partial/card/card-search.html.twig'%}
    {% block heading %}
        {{ 'fielddefinition.index.search.form'|trans({},'cavepages')|raw -}}
    {% endblock heading %}
    {% block body %}
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <table class="table">
                    <tr>
                        <td>{{ form_label(form.name)}}</td>
                        <td>{{ form_label(form.code)}}</td>
                    </tr>
                    <tr>
                        <td>{{ form_widget(form.name) }}</td>
                        <td>{{ form_widget(form.code) }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-8 col-sm-12">
                <table class="table">
                    <tr>
                        <td>{{ form_label(form.entity)}}</td>
                        <td>{{ form_label(form.datatype)}}</td>
                    </tr>
                    <tr>
                        <td>{{ form_widget(form.entity) }}</td>
                        <td>{{ form_widget(form.datatype) }}</td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <table class="table">
                    <tr>
                        <td>{{ form_label(form.coding)}}</td>
                        <td>{{ form_label(form.singlemultivalued)}}</td>
                    </tr>
                    <tr>
                        <td>{{ form_widget(form.coding) }}</td>
                        <td>{{ form_widget(form.singlemultivalued) }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4 col-sm-12">
                <table class="table">
                    <tr>
                        <td>{{ form_label(form.valuecode)}}</td>
                        <td>{{ form_label(form.maxlength)}}</td>
                    </tr>
                    <tr>
                        <td>{{ form_widget(form.valuecode) }}</td>
                        <td>{{ form_widget(form.maxlength) }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4 col-sm-12">
                <table class="table">
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>{%include '@GptCavebackend/partial/form/buttons.html.twig'with {'btns' :{'search': {'type': 'submit'}, 'reset': {'type': 'reset' }},} only %}</td>
                    </tr>
                </table>
            </div>
        </div>
    {% endblock body %}
{% endembed %}
{{ form_widget(form._token) }}
{{ form_end(form) }}