{#
/**
 * Edit Fielddefinitionlang
 * @file modal.html.twig
 * @param array arrayParams
 * @param FormView form
 * @param string language
 * @param Fielddefinitionlang entity
 * @param Fielddefinition fielddefinition
 * @param bool isNewFielddefinitionlang Checkked if is new translation in controller
 */
#}
{% set panelType =  translationExist ? '@GptCavebackend/partial/card/card-edit.html.twig': '@GptCavebackend/partial/card/card-new.html.twig' %}
{% set paneltitle =  translationExist ? 'fielddefinition.modal.edit.translation' : 'fielddefinition.modal.new.translation' %}
{% include '@GptCavebackend/partial/form/error/all_errors_message.html.twig'%}
{% form_theme form '@GptCavebackend/symfony/fields.html.twig' %}
{{ form_start(form) }}
{% embed panelType %}
    {% block heading %}{{ paneltitle|trans({},'cavepages')|raw -}}{% endblock heading %}
    {% block body %}
        <table class="table">
            <tr>
                <td>{{ form_label(form.name)}}</td>
                <td>{{ form_label(form.abbreviation)}}</td>
                <td>{{ form_label(form.review)}}</td>
            </tr>
            <tr>
                <td>{{ form_widget(form.name)}}</td>
                <td>{{ form_widget(form.abbreviation)}}</td>
                <td>{{ form_widget(form.review)}}</td>
            </tr>
        </table>
        {%set attr = { 'attr': {'style': 'height: 250px'} } %}
        <table class="table">
            <tr>
                <td>{{ form_label(form.definition)}}</td>
                <td>{{ form_label(form.example)}}</td>
                <td>{{ form_label(form.comment)}}</td>
                <td>{{ form_label(form.uso)}}</td>
            </tr>
            <tr>
                <td>{{ form_widget(form.definition, attr)}}</td>
                <td>{{ form_widget(form.example, attr)}}</td>
                <td>{{ form_widget(form.comment, attr)}}</td>
                <td>{{ form_widget(form.uso, attr)}}</td>
            </tr>
        </table>
    {% endblock body %}
{% endembed %}{{ form_end(form) }}