{#
/**
 * Edit Cave partial form
 * @file forms_partial.html.twig
 * @string formname
 * @param array arrayParams
 * @param FormView form
 * @param Cave cave
 */
#}
{% form_theme form '@GptCavebackend/symfony/fields.html.twig' %}
{{ form_start(form) }}
<div class="errors"></div>
{% include '@GptCavebackend/content/cave/forms/cave/'~formname~'/'~formname~'.html.twig'%}
{% include '@GptCavebackend/partial/form/nav_edit_submit_button.html.twig' %}
{{ form_end(form) }}
<script type="text/javascript">
    $(document).ready(function() {
        let formMain =    document.getElementById('{{ form.vars.attr.id }}'),
            submitBttn = formMain.querySelector('button[type=submit]'),
            submitUrl =  '{{ path('cave_backend_cave_save_partial', {id: cave.getCaveid(), name: formname}) }}',
            errors =  formMain.querySelector('.errors'),
            submitFn =  function () {
                errors.innerHTML='';
                Grot(formMain).form('submit', submitUrl, {callback: function (data) {
                        if(data.length!==0) errors.innerHTML= data;
                    }});
                return false;
            };

        formMain.onsubmit = function () {
            return false;
        };

        submitBttn.addEventListener('click', function () {submitFn(); return false;});

    });
</script>
{% if formname == 'name' %}
    {% import '@GptCavebackend/content/cave/edit/paginator_template_macro.html.twig' as pager %}
    <div class="row">
        {{pager.blue_paginator_div(3, 'name' , cave)}}
        {{pager.blue_paginator_div(3, 'cavetype' , cave)}}
        {{pager.blue_paginator_div(6, 'discovery' , cave)}}
    </div>
{% endif %}