{#
/**
 * @file menuitems.html.twig
 * @parent ./edit.html.twig
 */
#}
<div class="row">
    <div class="col-lg-4 col-sm-12">
        <div class="list-group list-menu-group">
            <span class="list-group-item">{{ 'cave.group.main'|trans({}, 'cavepages') }}</span>
            <a href="#karst-name" class="list-group-item list-group-item-action active flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <div class="mb-1">{{ 'cave.item.name'|trans({}, 'cavepages') }}</div>
                    {#                <small class="text-muted">2 items</small>#}
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-12">
                        <small>{{'cave.card.name'|trans({}, 'cavepages')}}</small>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <small>{{'cave.card.cavetype'|trans({}, 'cavepages')}}</small><br>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <small>{{'cave.card.discovery'|trans({}, 'cavepages')}}</small><br>
                    </div>
                </div>
            </a>
            <a href="#karst-measure" class="list-group-item list-group-item-action">{{ 'cave.item.measure'|trans({}, 'cavepages') }}</a>
            <a href="#karst-coordinates" class="list-group-item list-group-item-action" >{{ 'cave.item.coordinates'|trans({}, 'cavepages') }}</a>
            <a href="#karst-coarse" class="list-group-item list-group-item-action">{{ 'cave.item.coarse'|trans({}, 'cavepages') }}</a>
            <a href="#karst-management" class="list-group-item list-group-item-action">{{ 'cave.card.management'|trans({}, 'cavepages') }}</a>
            <a href="#karst-environment" class="list-group-item list-group-item-action">{{ 'cave.card.environment'|trans({}, 'cavepages') }}</a>
        </div>
    </div>


    <div class="col-lg-4 col-sm-12">
        <div class="list-group list-menu-group">
            <span class="list-group-item">{{ 'cave.group.descriptive'|trans({}, 'cavepages') }}</span>

            <a href="#karst-accessanddevelopment" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1">{{ 'cave.item.accessanddevelopment'|trans({}, 'cavepages') }}</h6>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-12">
                        <small>{{'cave.card.entrancedev'|trans({}, 'cavepages')}}</small><br>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <small>{{'cave.card.entranceft'|trans({}, 'cavepages')}}</small>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <small>{{'cave.card.entranceline'|trans({}, 'cavepages')}}</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-12">
                        <small>{{'cave.card.development'|trans({}, 'cavepages')}}</small><br>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <small>{{'cave.card.pitch'|trans({}, 'cavepages')}}</small>
                    </div>
                </div>
            </a>

            <a href="#karst-status" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1">{{ 'cave.item.status'|trans({}, 'cavepages') }}</h6>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-12"><small>{{'cave.card.decoration'|trans({}, 'cavepages')}}</small></div>
                    <div class="col-lg-4 col-sm-12"><small>{{'cave.card.use'|trans({}, 'cavepages')}}</small></div>
                    <div class="col-lg-4 col-sm-12"><small>{{'cave.card.surfaceuse'|trans({}, 'cavepages')}}</small></div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-12"><small>{{'cave.card.access'|trans({}, 'cavepages')}}</small></div>
                    <div class="col-lg-4 col-sm-12"><small>{{'cave.card.protection'|trans({}, 'cavepages')}}</small></div>
                    <div class="col-lg-4 col-sm-12"><small>{{'cave.card.damage'|trans({}, 'cavepages')}}</small></div>
                </div>
            </a>
        </div>
    </div>



    <div class="col-lg-4 col-sm-12">
        <div class="list-group list-menu-group">
            <span class="list-group-item">{{ 'cave.group.descriptive'|trans({}, 'cavepages') }}</span>

            <a href="#karst-riskandequipment" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1">{{ 'cave.item.riskandequipment'|trans({}, 'cavepages') }}</h6>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-12">
                        <small>{{'cave.card.hazard'|trans({}, 'cavepages')}}</small><br>
                    </div>
                    <div class="col-lg-5 col-sm-12">
                        <small>{{'cave.card.difficulty'|trans({}, 'cavepages')}}</small>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <small>{{'cave.card.equipment'|trans({}, 'cavepages')}}</small>
                    </div>
                </div>
            </a>

            <a href="#karst-maps" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1">{{ 'cave.item.maps'|trans({}, 'cavepages') }}</h6>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <small>{{'cave.card.grid'|trans({}, 'cavepages')}}</small>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <small>{{'cave.card.widestmap'|trans({}, 'cavepages')}}</small>
                    </div>
                </div>
            </a>


            <a href="#karst-miscelanea" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1">{{ 'cave.item.miscelanea'|trans({}, 'cavepages') }}</h6>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <small>{{'cave.card.specie'|trans({}, 'cavepages')}}</small><br>
                        <small>{{'cave.card.comment'|trans({}, 'cavepages')}}</small><br>
                        <small>{{'cave.card.prospect'|trans({}, 'cavepages')}}</small>

                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <small>{{'cave.card.reference'|trans({}, 'cavepages')}}</small><br>
                        <small>{{'cave.card.content'|trans({}, 'cavepages')}}</small><br>
                        <small>{{'cave.card.importance'|trans({}, 'cavepages')}}</small>
                    </div>
                </div>
            </a>

        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-4 col-sm-12">
        <div class="list-group list-menu-group">
            <span class="list-group-item">{{ 'cave.group.longtext'|trans({}, 'cavepages') }}</span>
            <a href="#karst-history" class="list-group-item list-group-item-action">{{ 'cave.item.history'|trans({}, 'cavepages') }}</a>
            <a href="#karst-description" class="list-group-item list-group-item-action">{{ 'cave.item.description'|trans({}, 'cavepages') }}</a>
            <a href="#karst-howtofind" class="list-group-item list-group-item-action">{{ 'cave.item.howtofind'|trans({}, 'cavepages') }}</a>
        </div>
    </div>
</div>