{#
/**
 * @file datum.html.twig
 * Formulario parcial
 * @parent ./map.html.twig
 */
#}
{% embed '@GptCavebackend/partial/page/panel.html.twig' with {type: arrayParams.page.style.form_panel}%}
{% block heading %}{{ 'map.tab.panel.datum-grid'|trans({},'cavepages')|raw -}}{% endblock heading %}
{% block body %}
<table class="table table-bordered">
  <tr>
    <td>{{ form_label(form.geodeticdatum)}}</td>
    <td>{{ form_label(form.heightdatum)}}</td>
    <td>{{ form_label(form.grid)}}</td>
    <td>{{ form_label(form.scale)}}</td>
    <td>{{ form_label(form.geogcoordsshown)}}</td>

  </tr>
  <tr>
    <td>{{ form_widget(form.geodeticdatum)}}</td>
    <td>{{ form_widget(form.heightdatum)}}</td>
    <td>{{ form_widget(form.grid)}}</td>
    <td>{{ form_widget(form.scale)}}</td>
    <td>{{ form_widget(form.geogcoordsshown)}}</td>

  </tr>  
</table>

{% endblock body %}
{% endembed %}