{#
/**
 * @file defunct.html.twig
 */
#}
<div class="row">
    <div class="col-lg-4 col-sm-12">
        <table class="table">
            <tr>
                <td>{{ form_label(form.defunct)}}</td>
            </tr>
            <tr>
                <td>{{ form_widget(form.defunct, { 'attr': {'onChange': 'toggleDefunct(this);'} })}}</td>
            </tr>
        </table>
    </div>
    <div class="col-lg-4 col-sm-12">
        <table class="table">
            <tr>
                <td>{{ form_label(form.currentidifdefunct)}}</td>
            </tr>
            <tr>
                <td>{{ form_widget(form.currentidifdefunct)}}</td>
            </tr>
        </table>
    </div>
    <div class="col-lg-4 col-sm-12">
        <table class="table">
            <tr>
                <td>{{ form_label(form.defunctyear)}}</td>
            </tr>
            <tr>
                <td>{{ form_widget(form.defunctyear)}}</td>
            </tr>
        </table>
    </div>
</div>
