{#
/**
 * @file identity.html.twig
 */
#}
<div class="row">
    <div class="col-lg-6 col-sm-12">
        <table class="table">
            <tr>
                <td>{{ form_label(form.name)}}</td>
                <td>{{ form_label(form.surname) }}</td>
            </tr>
            <tr>
                <td>{{ form_widget(form.name)}}</td>
                <td>{{ form_widget(form.surname) }}</td>
            </tr>
        </table>

    </div>
    <div class="col-lg-3 col-sm-12">
        <table class="table">
            <tr>
                <td>{{ form_label(form.initialforgivennames)}}</td>
                <td>{{ form_label(form.middleinitial) }}</td>
            </tr>
            <tr>
                <td>{{ form_widget(form.initialforgivennames)}}</td>
                <td>{{ form_widget(form.middleinitial) }}</td>
            </tr>
        </table>
    </div>


    <div class="col-lg-3 col-sm-12">
        <table class="table">
            <tr>
                <td class="w-25">{{ form_label(form.title) }}</td>
                <td>{{ form_label(form.gender)}}</td>
            </tr>
            <tr>
                <td>{{ form_widget(form.title) }}</td>
                <td>{{ form_widget(form.gender)}}</td>
            </tr>
        </table>
    </div>
</div>
