{#
/**
 * @file identity.html.twig
 * @parent ../edit.html.twig
 */
#}
{% embed '@GptCavebackend/partial/page/panel.html.twig' with {type: arrayParams.page.style.form_panel }%}
    {% block heading %}{{ 'person.edit.form.name'|trans({},'cavepages')|raw -}}{% endblock heading %}
    {% block body %}
{# person name, id, ... #}
<table class="table">
    <tr>
        <td>{{ form_label(form.name)}}</td>
        <td>{{ form_label(form.surname)}}</td>
        <td>{{ form_label(form.initialforgivennames)}}</td>
        <td>{{ form_label(form.middleinitial)}}</td>
        <td>{{ form_label(form.title)}}</td>
    </tr>
    <tr>
        <td>{{ form_widget(form.name) }}</td>
        <td>{{ form_widget(form.surname) }}</td>
        <td>{{ form_widget(form.initialforgivennames) }}</td>
        <td>{{ form_widget(form.middleinitial) }}</td>
        <td>{{ form_widget(form.title) }}</td>
    </tr>
 </table>
        {# person name, id, ... #}
        <table class="table">
            <tr>
                <td>{{ form_label(form.gender)}}</td>
                <td>{{ form_label(form.email)}}</td>
            </tr>
            <tr>
                <td>{{ form_widget(form.gender) }}</td>
                <td>{{ form_widget(form.email) }}</td>

            </tr>
        </table>
{% endblock body %}
{% endembed %}
