{#
/**
 * @file numbers.html.twig
 */
#}
<div class="row">
    <div class="col-lg-4 col-sm-12">
        <table class="table">
            <tr>
                <td>{{ form_label(form.phoneprefix)}}</td>
                <td>{{ form_widget(form.phoneprefix, {attr: {class: 'w-25'}})}}</td>
            </tr>
        </table>
    </div>
    <div class="col-lg-4 col-sm-12">
        <table class="table">
            <tr>
                <td>{{ form_label(form.mobilephonenumber) }}</td>
                <td>{{ form_widget(form.mobilephonenumber) }}</td>
            </tr>
        </table>
    </div>
    <div class="col-lg-4 col-sm-12">
        <table class="table">
            <tr>
                <td>{{ form_label(form.faxphonenumber)}}</td>
                <td>{{ form_widget(form.faxphonenumber)}}</td>
            </tr>
        </table>
    </div>
</div>


<div class="row">
    <div class="col-lg-4 col-sm-12">
        <table class="table">
            <tr>
                <td>{{ form_label(form.homephonenumber)}}</td>
                <td>{{ form_widget(form.homephonenumber)}}</td>
            </tr>
        </table>
    </div>
    <div class="col-lg-4 col-sm-12">
        <table class="table">
            <tr>
                <td>{{ form_label(form.workphonenumber) }}</td>
                <td>{{ form_widget(form.workphonenumber) }}</td>
            </tr>
        </table>
    </div>
    <div class="col-lg-4 col-sm-12">
        <table class="table">
            <tr>
                <td>{{ form_label(form.pagerphonenumber)}}</td>
                <td>{{ form_widget(form.pagerphonenumber)}}</td>
            </tr>
        </table>
    </div>
</div>