{#
/**
 * @file data.html.twig
 * @parent ../edit.html.twig
 */
#}
<table class="table">
    <tr>
        <td>{{ form_label(form.lengthunits)}}</td>
        <td>{{ form_label(form.scale)}}</td>
        <td>{{ form_label(form.maptype)}}</td>
        <td>{{ form_label(form.publisher)}}</td>

    </tr>
    <tr>
        <td>{{ form_widget(form.lengthunits)}}</td>
        <td>{{ form_widget(form.scale)}}</td>
        <td>{{ form_widget(form.maptype)}}</td>
        <td>{{ form_widget(form.publisher)}}</td>
    </tr>
</table>
<table class="table">
    <tr>
        <td>{{ form_label(form.comment)}}</td>
    </tr>
    <tr>
        <td>{{ form_widget(form.comment)}}</td>
    </tr>
</table>